# OCI auth
OCI_CLI_USER=ocid1.user.oc1..xxxxxxxx
OCI_CLI_TENANCY=ocid1.tenancy.oc1..xxxxxxxx
OCI_CLI_FINGERPRINT=xx:xx:xx:xx
OCI_CLI_REGION=ap-tokyo-1

# OCI API private key (MULTILINE)
OCI_API_KEY_PEM=-----BEGIN PRIVATE KEY-----
REPLACE_ME
-----END PRIVATE KEY-----

# Instance config
AVAILABILITY_DOMAIN=nwkf:AP-TOKYO-1-AD-1
COMPARTMENT_ID=ocid1.tenancy.oc1..xxxxxxxx
SUBNET_ID=ocid1.subnet.oc1.ap-tokyo-1.xxxxxxxx
IMAGE_ID=ocid1.image.oc1.ap-tokyo-1.xxxxxxxx
DISPLAY_NAME=ubuntu-2204-a1-1c6g
SHAPE=VM.Standard.A1.Flex
SHAPE_OCPUS=1
SHAPE_MEMORY_GB=6
